a {
  text-decoration: none;
  color: unset;
  transition: color 0.2s;
}

a:hover {
  color: var(--cads-palette-info-dark);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
